.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.hero-content {
  max-width: 50%;
}

.hero-image img {
  max-width: 400px;
  border-radius: 50%;
}

.quick-links {
  margin-top: 1rem;
}

.contact-link {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.contact-link:hover {
  background-color: #0056b3;
}

.section-contact, .section-about, .section-projects {
  padding: 2rem;
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.nav-links a:hover {
  color: #007bff;
}
.section-about {
  padding: 20px;
  background-color: #f9f9f9;
  margin: 20px 0;
}

.section-about h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.about-professional-summary,
.about-core-skills,
.about-achievements {
  margin-bottom: 20px;
}

.about-core-skills ul,
.about-achievements ul {
  list-style: none; /* Removes the default disc bullets */
  padding-left: 0; /* Aligns the text to the left, removing indentation */
}
.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.about-core-skills, .about-achievements {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-core-skills h2, .about-achievements h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.5em;
}

.about-core-skills ul, .about-achievements ul {
  list-style-type: none;
  padding: 0;
}

.about-core-skills ul li, .about-achievements ul li {
  margin-bottom: 10px;
}



